*,*:before, *:after{
	box-sizing: border-box;
}
.clearfix:before,
.clearfix:after{
	content:"";
	display: block;
	clear:both;
}
html {
	height: 100%;
	background-color:  hsla(0, 100%, 54%, 0.5);
	background: url(http://upload.wikimedia.org/wikipedia/en/thumb/1/19/Dr_Pepper_modern.svg/1280px-Dr_Pepper_modern.svg.png)
	no-repeat center center fixed; 
  	background-size: cover;

}
body {
	font-family: sans-serif;
	height: 100%;
	background-color: hsla(0, 100%, 50%, 0);
	padding-top:200px;
	padding-left: 10px;
	margin: 0;
}
.product {
	margin:auto;
	background-color: hsla(65, 55%, 84%, .90);
	border-radius: 8px;
	width: 700px; 
	box-shadow: 0 0 10px 1px hsla(0, 0%, 0%, .35);
	border-style:solid;
}

img {
	width: 150px;
	float: left;
	border-radius: 8px;
	padding:10px;
}
.product-info {
	padding:10px;
}
